body{
    background-color: gray;
}

table{
 margin-top: 50px;
 text-align: center;
 background: rgb(221, 190, 160);
 color: rgb(0,0,0);
}

#Show th, #Show td{
 padding: 13px;

}

#btn td input{
    width: 100%;
    background-color: beige;
}